# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#productos
/productos/backend/node_modules
productos/frontend/node_modules
productos/backend/dist
productos/frontend/dist
productos/backend/dist-ssr
productos/frontend/dist-ssr
productos/*.local
productos/frontend/.env
productos/backend/.env

#mensajeria whatsapp
mensajeriaWhatsapp/frontend/node_modules
mensajeriaWhatsapp/backend/node_modules
mensajeriaWhatsapp/frontend/dist
mensajeriaWhatsapp/backend/dist
mensajeriaWhatsapp/frontend/dist-ssr
mensajeriaWhatsapp/backend/dist-ssr
mensajeriaWhatsapp/*.local
mensajeriaWhatsapp/frontend/.env
mensajeriaWhatsapp/backend/.env


#marketplace
marketplace/frontend/node_modules
marketplace/backend/node_modules
marketplace/front/dist
marketplace/backend/dist
marketplace/front/dist-ssr
marketplace/backend/dist-ssr
marketplace/*.local
marketplace/front/.env
marketplace/backend/.env






